# PostgreSQL
POSTGRES_DB=flowera
POSTGRES_USER=flowera
POSTGRES_PASSWORD=flowera_pass
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Kafka
KAFKA_PORT=9092
KAFKA_BROKER_ID=1

# Keycloak
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Keycloak DB (uses same PostgreSQL instance, separate database)
KC_DB_NAME=keycloak